.row(style="display: flex; justify-content: center; margin-bottom: 1rem; margin-top: 1rem")
  .col-12(style="display: flex; flex-wrap: wrap; gap: 10px; justify-content: center;")
    a(
      class="btn btn-primary m-1"
      href="/users/not-friend"
      style="min-width: 180px; text-align: center; padding: 10px 15px; border-radius: 5px; transition: all 0.3s ease-in-out;"
    ) Danh sách người dùng
    a(
      class="btn btn-primary m-1"
      href="/users/friends"
      style="min-width: 180px; text-align: center; padding: 10px 15px; border-radius: 5px; transition: all 0.3s ease-in-out;"
    ) Danh sách bạn bè
    a(
      class="btn btn-primary m-1"
      href="/users/request"
      style="min-width: 180px; text-align: center; padding: 10px 15px; border-radius: 5px; transition: all 0.3s ease-in-out;"
    ) Lời mời đã gửi
    a(
      class="btn btn-primary m-1"
      href="/users/accept"
      style="min-width: 180px; text-align: center; padding: 10px 15px; border-radius: 5px; transition: all 0.3s ease-in-out;"
    ) Lời mời kết bạn
