extends ../../layouts/default.pug  
include ../../mixins/box-head.pug

block main
  .product-detail
    .container.my-5
      .row
        .col-md-6
          .inner-thumb
            img(src=product.thumbnail, alt=product.title, class="img-fluid shadow-sm rounded")
        .col-md-6
          .inner-info
            h1.inner-title.text-primary #{product.title}

            if product.category
              div.inner-category.mb-2
                span.text-muted Danh mục: 
                a(href=`/products/${product.category.slug}`, class="text-decoration-none fw-bold text-success") #{product.category.title}

            if product.priceNew
              div.inner-price-new.text-danger.fw-bold.fs-4 #{product.priceNew}$

            if product.price
              div.inner-price-old.text-muted.text-decoration-line-through #{product.price}$

            if product.discountPercentage
              div.inner-percent.text-warning.fw-semibold Giảm tới <span>#{product.discountPercentage}</span>%

            if product.stock
              div.inner-stock.text-success.fw-bold Còn lại <span>#{product.stock}</span> sản phẩm

            form(action=`/cart/add/${product.id}`, method="POST")
              .input-group.my-3
                input(
                  type="number"
                  class="form-control"
                  name="quantity"
                  value=1
                  min=1
                  max=product.stock
                )
                button(
                  type="submit"
                  class="btn btn-success fw-bold shadow-sm"
                ) 🛒 Thêm vào giỏ hàng

      hr

      .container.my-5
        .row 
          +box-head("Mô tả sản phẩm")
          .inner-desc.bg-light.p-3.rounded.shadow-sm !{product.description}
